body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }

.heading{
    text-align: right;
}

.no-date{
    text-align: right;
    font-style: italic;
}

a{
    color: blue;
}

.dotted{
    text-decoration: underline dotted;
}

.indention{
    text-indent: 40px;
}

.italicize{
    font-style: italic;
}
  
